body {
    background-color: #caf0f8;
}

.container {
    position: relative;
    top: 50%;
}

.counterCon {
    display: flex;
    align-content: center;
    justify-content: center;
}

.counter {
    font-size: 50px;
    color: #03045e;
}

.btn {
    display: flex;
    align-content: center;
    justify-content: center;
}

.button {
    margin: 5px;
    width: 150px;
    height: 40px;
    background-color: #0096c7;
    border: 2px solid #03045e;
    border-radius: 5px;
    font-size: 15px;
}